.dub
dub.selections.json
docs.json
__dummy.html
docs/
/vox_engine
vox_engine.so
vox_engine.dylib
vox_engine.dll
vox_engine.a
vox_engine.lib
vox_engine-test-*
*test-library
*.exe
*.pdb
*.o
*.obj
*.lst

common/*.a
common/*.lib
common/libvox_engine_common.a

vadgl/*.a
vadgl/*.lib

nuklear/*.a
nuklear/*.lib

voxel_grid/*.a
voxel_grid/*.lib
voxel_grid/*.a

voxel_renderer/*.a
voxel_renderer/vox_engine-voxel_renderer-tests-unittest
voxel_renderer/vox_engine-voxel_renderer-tests-library
