.dub
docs.json
__dummy.html
docs/
/vox_engine
vox_engine.so
vox_engine.dylib
vox_engine.dll
vox_engine.a
vox_engine.lib
vox_engine-test-*

*.exe
*.pdb
*.o
*.obj
*.lst
*.dll

**/dub.selections.json
**/*-test-library
**/*-test-unittest

common/*.a
/common/*.lib

/vadgl/*.a
/vadgl/*.lib

/nuklear/*.a
/nuklear/*.lib

/voxel_grid/*.a
/voxel_grid/*.lib

/voxel_renderer/*.a
/voxel_renderer/*.lib
